/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 219, 219); 
  }